<!DOCTYPE html>
<html>
<head>
  <title>RandomQuote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Amatic+SC|Covered+By+Your+Grace' %>
  <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Twitter', '/auth/twitter' %></li>
     </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>


</body>
</html>
